@use '@angular/material' as mat;

.table {
  @include mat.table-overrides(
    (
      background-color: var(--mat-sys-surface-container),
    )
  );
}

.actions {
  display: flex;
  flex-wrap: nowrap;
}
