<div class="flex flex-col h-screen w-screen overflow-hidden">
  <!-- TOPBAR -->
  <app-topbar (menuToggle)="sidenav.toggle()" />

  <!-- SIDENAV -->
  <mat-sidenav-container class="h-full w-full sidenav">
    <mat-sidenav #sidenav mode="over" class="w-64">
      <mat-nav-list class="nav-list">
        @for (item of navItems(); track item.label) {
          <a
            mat-list-item
            [routerLink]="item.route"
            routerLinkActive
            #rla="routerLinkActive"
            [activated]="rla.isActive"
          >
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span matListItemTitle>{{ item.label }}</span>
          </a>
        }
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <main class="flex-1 overflow-auto bg-gray-50 p-4">
        <router-outlet />
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
