@use '@angular/material' as mat;

.toolbar {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-surface-container),
      container-text-color: var(--mat-sys-on-surface-variant),
    )
  );
}
